<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Supplier has been Added</strong> 
    <a [routerLink]="'/supplier/list'">Go to Supplier List</a>
</div>  
<form [formGroup]="editsupplierform">
    <h1 class="display-6">Add New Supplier</h1>
    <hr/>
    <div class="container">
        <div class = "row">
            <div class = "col">
                <div class="my-5">
                    <label >CompanyName</label> 
                    <input type="text" formControlName="companyName"  class="form-control" placeholder="Enter CompanyName"/> 
                    <div class="text-danger" *ngIf="editsupplierform.get('companyName')?.hasError('required') && editsupplierform.get('companyName')?.touched">CompanyName is Required</div>
                </div>
                <div class="my-5">
                    <label >ContactName</label>
                    <input type="text" formControlName="contactName" class="form-control" placeholder="Enter ContactName"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('contactName')?.hasError('required') && editsupplierform.get('contactName')?.touched">ContactName is Required</div>
                </div>
                <div class="my-5">
                    <label >ContactTitle</label>
                    <input type="text" formControlName="contactTitle" class="form-control" placeholder="Enter ContactTitle"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('contactTitle')?.hasError('required') && editsupplierform.get('contactTitle')?.touched">ContactTitle is Required</div> 
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col">
               <div class="my-5">
                    <label >Address</label>
                    <input type="text" formControlName="address" class="form-control" placeholder="Enter Address"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('address')?.hasError('required') && editsupplierform.get('address')?.touched">Address is Required</div>
                </div>
                <div class="my-5">
                    <label >City</label>
                    <input type="text" formControlName="city" class="form-control" placeholder="Enter City"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('city')?.hasError('required') && editsupplierform.get('city')?.touched">City is Required</div>
                </div>  
                <div class="my-5">
                    <label >RegionId</label>
                     <select formControlName="regionId" class="form-control" asp-items="ViewBag.Regions" >
                                <option value="">Select a Region</option>   
                            </select>  
                     <div class="text-danger" *ngIf="editsupplierform.get('regionId')?.hasError('required') && editsupplierform.get('regionId')?.touched">RegionId is Required</div>
                </div> 
            </div> 
        </div>
        <div class = "row">
            <div class = "col">
                <div class="my-5">
                    <label>  PostalCode</label>
                    <input  formControlName="postalCode" class="form-control" placeholder="Enter PostalCode"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('postalCode')?.hasError('required') && editsupplierform.get('postalCode')?.touched">PostalCode is Required</div>
                </div>
                <div class="my-5">
                    <label >Country</label>
                    <input type="text" formControlName="country" class="form-control" placeholder="Enter Country"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('country')?.hasError('required') && editsupplierform.get('country')?.touched">Country is Required</div> 
                </div>
                 <div class="my-5">
                     <label >Phone</label>
                    <input type="text" formControlName="phone" class="form-control" placeholder="Enter Phone"/>
                    <div class="text-danger" *ngIf="editsupplierform.get('phone')?.hasError('required') && editsupplierform.get('phone')?.touched">Phone is Required</div>
                </div> 
            </div>
          </div>
        <input type="submit" class="btn-primary btn" value="Update" (click)="editSupplier()" [disabled]="!editsupplierform.valid"/>
        <input type="button" value="Reset" class="btn btn-warning" (click) = "reset()" />
        <input type="button" value="Cancel" class="btn btn-secondary" (click) = "cancel()" /> 
     </div>
</form>

