<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Shipper has been Added</strong> 
    <a [routerLink]="'/shipper/list'">Go to Sshipper List</a>
</div>  
<form [formGroup]="addshipperform" >
    <h1 class="display-6">Add New Shipper</h1>
    <hr/> 
    <div class="container">
        <div class="row">
            <div class="col mb-5">
                <label>Name </label>  
                <input formControlName="name" class="form-control" /> 
                <div class="text-danger" *ngIf="addshipperform.get('name')?.hasError('required') && addshipperform.get('name')?.touched">Name is Required</div> 
            </div>
            <div class="col mb-5">
                <label >Phone</label>
                <input formControlName="phone" class="form-control"/>
                <div class="text-danger" *ngIf="addshipperform.get('phone')?.hasError('required') && addshipperform.get('phone')?.touched">Phone is Required</div>
    
            </div>
        </div>
        <input type="button" class="btn-primary btn" value="Create  Shipper" (click)="addShipper()" [disabled]="!addshipperform.valid"/>
        <input type="button" value="Reset" class="btn btn-warning" (click) = "reset()" />
        <input type="button" value="Cancel" class="btn btn-secondary" (click) = "cancel()" /> 
    </div>
</form>