<a [routerLink]="'/supplier/add'" class="btn btn-primary">Add Supplier</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>CompanName</th>
            <th>ContactName</th>  
            <th>ContactTitle</th> 
            <th>Address</th> 
            <th>City</th> 
            <th>RegionId</th> 
            <th>PostalCode</th> 
            <th>Country</th>       
            <th>Phone</th> 
            <th>Option</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of suppliers">
            <td>{{s.id}}</td>
            <td>{{s.companyName}}</td>
            <td>{{s.contactNam}}e</td> 
            <td>{{s.contactTitle}}</td> 
            <td>{{s.address}}</td> 
            <td>{{s.city}}</td> 
            <td>{{s.regionId}}</td> 
            <td>{{s.postalCode}}</td> 
            <td>{{s.country}}</td> 
            <td>{{s.phone}}</td> 
            <td>
           <span>
           <a [routerLink]="['/supplier/edit',s.id]"  >Edit</a>
           </span>
           <span>&nbsp;</span>
           <span>
           <a [routerLink]="['/supplier/edit',s.id]"   >Delete</a>
           </span>
           </td>
        </tr>
      </tbody>
  </table>

