<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Product  has been Saved</strong> 
    <a [routerLink]="'/product/list'">Go to Product List</a>
</div>
<h1 class="display-4" >Add Product </h1>
<form [formGroup]="productform" method="post">
    <h1 class="display-6">Add New Product</h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="my-4">
                    <label >Name</label>
                    <input type="text" formControlName="Name"  class="form-control" placeholder="Enter Name"/>
                    <div class="text-danger" *ngIf="productform.get('Name')?.hasError('required') && productform.get('Name')?.touched">Name is Required</div>
                </div>
            </div>
            <div class="col">
                 <div class="my-4">
                    <label >SupplierId</label>
                    <select formControlName="SupplierId" class="form-control" asp-items="ViewBag.Supplier" >
                        <option value="">Select a Supplier</option>   
                    </select> 
                    <div class="text-danger" *ngIf="productform.get('SupplierId')?.hasError('required') && productform.get('SupplierId')?.touched">SupplierId is Required</div>
                </div>
            </div >
            <div class="col">
                <div class="my-4">
                    <label >CategoryId</label>
                     <select formControlName="CategoryId" class="form-control" asp-items="ViewBag.Category" >
                        <option value="">Select a Category</option>   
                    </select>  
                    <div class="text-danger" *ngIf="productform.get('CategoryId')?.hasError('required') && productform.get('CategoryId')?.touched">CategoryId is Required</div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col">
                <div class="my-4">
                <label >QuantityPerUnit</label>
                <input type="text" formControlName="QuantityPerUnit" class="form-control" placeholder="Enter QuantityPerUnit"/>
                <div class="text-danger" *ngIf="productform.get('QuantityPerUnit')?.hasError('required') && productform.get('QuantityPerUnit')?.touched">QuantityPerUnit is Required</div>
            </div>  
            </div>
            <div class="col">
                 <div class="my-4">
                    <label ></label>
                    <input type="text" formControlName="UnitPrice" class="form-control" placeholder="Enter UnitPrice"/>
                    <div class="text-danger" *ngIf="productform.get('UnitPrice')?.hasError('required') && productform.get('UnitPrice')?.touched">UnitPrice is Required</div>
                </div>
            </div >
            <div class="col">
                <div class="my-4">
                    <label >UnitInStock</label>
                    <input type="text" formControlName="UnitInStock" class="form-control" placeholder="Enter UnitInStock"/>
                    <div class="text-danger" *ngIf="productform.get('UnitInStock')?.hasError('required') && productform.get('UnitInStock')?.touched">UnitInStock is Required</div>
                </div>
            </div>  
         </div>
         <div class="row">
             <div class="col">
                <div class="my-4">
                   <label >UnitOnOrder</label>
                    <input type="text" formControlName="UnitOnOrder" class="form-control" placeholder="Enter UnitOnOrder"/>
                    <div class="text-danger" *ngIf="productform.get('UnitOnOrder')?.hasError('required') && productform.get('UnitOnOrder')?.touched">UnitOnOrder is Required</div>
                </div>
            </div>  
            <div class="col">
                <div class="my-4">
                    <label >ReorderLevel</label>
                    <input type="text" formControlName="ReorderLevel" class="form-control" placeholder="Enter ReorderLevel"/>
                    <div class="text-danger" *ngIf="productform.get('ReorderLevel')?.hasError('required') && productform.get('ReorderLevel')?.touched">ReorderLevel is Required</div>
                </div> 
            </div>   
        </div> 
        <input type="submit" class="btn-primary btn" value="Create" [disabled]="!productform.valid" (click)="addProduct()" />
        <input type="button" value="Reset" class="btn btn-warning" (click) = "reset()" />
        <input type="button" value="Cancel" class="btn btn-secondary" (click) = "cancel()" /> 
    </div>
</form>
